page-action-chart {
  select,
  textarea {
    font-size: 1rem;
  }

  label {
    padding-bottom: 1rem;
  }

  .quiver {
    float: left;
  }
  .quiver-check {
    margin: 1.8rem 0 0 1rem;
  }

  .warning {
    color: #f00;
  }
}
