<div class="grid-container">
  <app-header class="grid-x grid-padding-x pa-header"></app-header>

  <div class="grid-x grid-padding-x">
    <div class="medium-12 cell">
      <ul class="accordion" data-accordion data-allow-all-closed="true">

        <li [style.display]="this.savedGames.length ? '' : 'none'" class="accordion-item saved-games" data-accordion-item>
          <a href="#" class="accordion-title"><h3>Saved Games</h3></a>
          <div class="accordion-content" data-tab-content>
            <div class="grid-x grid-padding-x">
              <div class="medium-8 medium-offset-2 cell">
                <ul class="accordion accordion-series" data-accordion data-allow-all-closed="true">
                  <li [style.display]="this.savedGames.length > 0 ? '' : 'none'" class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title title-header"><h5>First Saved Game</h5></a>
                    <div class="accordion-content" data-tab-content>
                      <p>{{ getGameSeriesName(this.savedGames[0]) }}</p>
                      <h6>{{ getGameTitleName(this.savedGames[0]) }}</h6>
                      <div class="clearfix">
                        <div class="float-right">
                          <input type="button" class="button" value="Continue This Game" (click)="continueGame(this.savedGames[0])"/>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li [style.display]="this.savedGames.length > 1 ? '' : 'none'" class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title title-header"><h5>Second Saved Game</h5></a>
                    <div class="accordion-content" data-tab-content>
                      <p>{{ getGameSeriesName(this.savedGames[1]) }}</p>
                      <h6>{{ getGameTitleName(this.savedGames[1]) }}</h6>
                      <div class="clearfix">
                        <div class="float-right">
                          <input type="button" class="button" value="Continue This Game" (click)="continueGame(this.savedGames[1])"/>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li [style.display]="this.savedGames.length > 2 ? '' : 'none'" class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title title-header"><h5>Third Saved Game</h5></a>
                    <div class="accordion-content" data-tab-content>
                      <p>{{ getGameSeriesName(this.savedGames[2]) }}</p>
                      <h6>{{ getGameTitleName(this.savedGames[2]) }}</h6>
                      <div class="clearfix">
                        <div class="float-right">
                          <input type="button" class="button" value="Continue This Game" (click)="continueGame(this.savedGames[2])"/>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <li *ngFor="let seriesItem of series" class="accordion-item series-{{seriesItem.id}}" data-accordion-item>
          <a href="#" class="accordion-title"><h3>{{seriesItem.name}}</h3></a>
          <div class="accordion-content" data-tab-content>
            <div class="grid-x grid-padding-x">
              <div class="medium-4 cell">
                <img [src]="seriesItem.heroImage | heroImage : seriesItem.id : selectedSeriesId : selectedTitleId | async" alt="">
              </div>
              <div class="medium-8 cell">
                <ul class="accordion accordion-series" data-accordion data-allow-all-closed="true">
                  <li class="accordion-item accordion-overview-item is-active" data-accordion-item>
                    <a href="#" class="accordion-title series-overview-header"><h5>Overview</h5></a>
                    <div class="accordion-content series-overview" data-tab-content>
                      <p>{{seriesItem.blurb}}</p>
                      <div class="clearfix" [ngSwitch]="true">
                        <input type="button" class="secondary button float-right" disabled value="Series Downloading..." *ngSwitchCase="isSeriesDownloading(seriesItem.id)"/>
                        <input type="button" class="secondary button float-right" disabled value="Series Downloaded" *ngSwitchCase="isSeriesDownloaded(seriesItem.id)"/>
                        <input type="button" class="secondary button float-right" (click)="downloadSeries(seriesItem.id)" value="Download This Series" *ngSwitchDefault/>
                      </div>
                    </div>
                  </li>
                  <li *ngFor="let title of titles | titleFilter : seriesItem.id" class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title title-header" (click)="activateTitle(seriesItem.id, title.id)"><h5>{{title.name}}</h5></a>
                    <div class="accordion-content" data-tab-content>
                      <small [innerHTML]="title.blurb" class="title-blurb"></small>
                      <div class="clearfix">
                        <div class="float-right">
                          <ng-container [ngSwitch]="true">
                            <input type="button" class="secondary button" disabled value="Downloading..." *ngSwitchCase="isTitleDownloading(seriesItem.id, title.id)"/>
                            <input type="button" class="secondary button" disabled value="Downloaded" *ngSwitchCase="isTitleDownloaded(seriesItem.id, title.id)"/>
                            <input type="button" class="secondary button" (click)="downloadTitle(seriesItem.id, title.id)" value="Download This Title" *ngSwitchDefault/>
                          </ng-container>
                          <input type="button" class="button" (click)="selectTitle(seriesItem.id, title.id)" value="Play This Title"/>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <li [style.display]="this.gameService.loadedTitles.length ? '' : 'none'" data-accordion-item class="accordion-item help">
          <a href="#" class="accordion-title"><h3>Help</h3></a>
          <div class="accordion-content" data-tab-content>
            <div class="grid-x grid-padding-x">
              <div class="medium-10 medium-offset-1 cell">
                <p>Your browser may decide to clear out downloaded content in low disk-space situations. If that happens and things stop working, you can clear all stored content here.</p>
              </div>
            </div>
            <div class="grid-x grid-padding-x">
              <div class="medium-4 medium-offset-4 cell">
                <div><a class="button save-button" (click)="clearDownloadedContent()">Clear Downloaded Content</a></div>
              </div>
            </div>
          </div>
        </li>

      </ul>
    </div>

  </div>
</div>

<div class="reveal" id="disconnected-popup" data-reveal>
  <h1>Not connected</h1>
  <p>No network connectivity</p>
  <button class="close-button" data-close aria-label="Close" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="reveal" id="content-cleared-popup" data-reveal>
  <h1>Downloaded Content Cleared Successfully</h1>
  <button class="close-button" data-close aria-label="Close" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
