page-home {
  .accordion-title h3 {
    margin-bottom: 0;
  }

  .series-overview-header {
    display: none;
  }

  .series-overview {
    border: none;
    padding: 0;
  }

  .title-header h5 {
    margin-bottom: 0;
  }
}
