<div class="grid-container series-{{series?.id}}">
  <title-header [series]=this.series [title]=this.title class="grid-x grid-padding-x pa-header"></title-header>

  <game-menu selected="save-game"></game-menu>

  <div class="grid-x grid-padding-x">
    <div class="medium-10 medium-offset-1 cell">
      <h2>Save Game</h2>
      <p>Save your story progress and action chart information.</p>
    </div>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="medium-4 medium-offset-4 cell">
      <div *ngIf="savedGames.length == 0"><a class="button save-button" (click)="saveGame(1)">Save as First Saved Game</a></div>
      <div *ngIf="savedGames.length > 0"><a class="button save-button" (click)="saveGame(1)">Overwrite First Saved Game</a></div>
      <div *ngIf="savedGames.length == 1"><a class="button save-button" (click)="saveGame(2)">Save as Second Saved Game</a></div>
      <div *ngIf="savedGames.length > 1"><a class="button save-button" (click)="saveGame(2)">Overwrite Second Saved Game</a></div>
      <div *ngIf="savedGames.length == 2"><a class="button save-button" (click)="saveGame(3)">Save as Third Saved Game</a></div>
      <div *ngIf="savedGames.length > 2"><a class="button save-button" (click)="saveGame(3)">Overwrite Third Saved Game</a></div>
    </div>
  </div>
</div>
<div class="reveal series-{{series?.id}}" id="save-popup" data-reveal>
  <h1>Game Saved Successfully</h1>
  <button class="close-button" data-close aria-label="Close" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
