<div class="grid-container series-{{series?.id}}">
  <title-header [series]=this.series [title]=this.title class="grid-x grid-padding-x pa-header"></title-header>

  <game-menu selected="map"></game-menu>

  <div class="grid-x grid-padding-x">
    <div class="medium-10 medium-offset-1 cell">
      <input *ngIf="fitted" type="button" class="button float-right medium-offset-right-1" (click)="zoomIn()" value="Show original size"/>
      <input *ngIf="!fitted" type="button" class="button float-right medium-offset-right-1" (click)="zoomOut()" value="Show fitted size"/>
      <div [innerHTML]="pageMarkedUpContent" [class.map-original]="!fitted"></div>
    </div>
  </div>
</div>
