	<!-- Nav Bar -->
	<div class="row">
		<div class="small-12 columns">
			<h1 class="left"><a href="/#home">Lone Wolf <br class="show-for-small">Adventures</a></h1>
			<div id="user-nav" class="right">
				<h4><a href="#" id="gameoption-activator" class="small radius button">Game</a></h4><br>
			</div>
		</div>
	</div>

	<div class="gameoptions">
		<div class="gameoption row">
			<div class="small-12 large-3 columns">
				<div class="row">
					<div class="small-5 large-12 columns">
						<p><img src="https://www.projectaon.org/en/xhtml/lw/05sots/small6.png" class="gameoption-icon" alt="Story icon"></p>
					</div>
					<a class="nav-link" href="#story">
						<div class="small-7 large-10 large-offset-1 columns callout panel">
							<h6>Story</h6>
						</div>
					</a>
					<div class="hide-for-small large-1 columns"></div>
				</div>
			</div>
			<div class="small-12 large-3 columns">
				<div class="row">
					<div class="small-5 large-12 columns">
						<p><img src="https://www.projectaon.org/en/xhtml/lw/03tcok/small3.png" class="gameoption-icon" alt="Action Chart icon"></p>
					</div>
					<a class="nav-link" href="#action-chart">
						<div class="small-7 large-10 large-offset-1 columns panel">
							<h6>Action Chart</h6>
						</div>
					</a>
					<div class="hide-for-small large-1 columns"></div>
				</div>
			</div>
			<div class="small-12 large-3 columns">
				<div class="row">
					<div class="small-5 large-12 columns">
						<p><img src="https://www.projectaon.org/en/xhtml/lw/03tcok/small19.png" class="gameoption-icon" alt="Randon Number Table icon"></p>
					</div>
					<a class="nav-link" href="#random-number">
						<div class="small-7 large-10 large-offset-1 columns panel">
							<h6>Random Number</h6>
						</div>
					</a>
					<div class="hide-for-small large-1 columns"></div>
				</div>
			</div>
			<div class="small-12 large-3 columns">
				<div class="row">
					<div class="small-5 large-12 columns">
						<p><img src="https://www.projectaon.org/en/xhtml/lw/01fftd/small33.png" class="gameoption-icon" alt="Combat Results Table icon"></p>
					</div>
					<a class="nav-link" href="#combat-results">
						<div class="small-7 large-10 large-offset-1 columns panel">
							<h6>Combat Results</h6>
						</div>
					</a>
					<div class="hide-for-small large-1 columns"></div>
				</div>
			</div>
			<div class="small-12 large-3 columns">
				<div class="row">
					<div class="small-5 large-12 columns">
						<p><img src="https://www.projectaon.org/en/xhtml/lw/04tcod/small10.png" class="gameoption-icon" alt="Map icon"></p>
					</div>
					<a class="nav-link" href="#map">
						<div class="small-7 large-10 large-offset-1 columns panel">
							<h6>Map</h6>
						</div>
					</a>
					<div class="hide-for-small large-1 columns"></div>
				</div>
			</div>
			<div class="small-12 large-3 columns">
				<div class="row">
					<div class="small-5 large-12 columns">
						<p><img src="https://www.projectaon.org/en/xhtml/lw/04tcod/small22.png" class="gameoption-icon" alt="Save game icon"></p>
					</div>
					<a class="nav-link" href="#save">
						<div class="small-7 large-10 large-offset-1 columns panel">
							<h6>Save game</h6>
						</div>
					</a>
					<div class="hide-for-small large-1 columns"></div>
				</div>
			</div>
			<div class="small-12 large-3 columns">
				<div class="row">
					<div class="small-5 large-12 columns">
						<p><img src="https://www.projectaon.org/en/xhtml/lw/04tcod/small27.png" class="gameoption-icon" alt="Game rules icon"></p>
					</div>
					<a class="nav-link" href="#rules">
						<div class="small-7 large-10 large-offset-1 columns panel">
							<h6>Game rules</h6>
						</div>
					</a>
					<div class="hide-for-small large-1 columns"></div>
				</div>
			</div>
			<div class="small-12 large-3 columns">
				<div class="row">
					<div class="small-5 large-12 columns">
						<p><img src="https://www.projectaon.org/en/xhtml/lw/07cd/small5.png" class="gameoption-icon" alt="Quit game icon"></p>
					</div>
					<a class="nav-link" href="#quit">
						<div class="small-7 large-10 large-offset-1 columns panel">
							<h6>Quit game</h6>
						</div>
					</a>
					<div class="hide-for-small large-1 columns"></div>
				</div>

			</div>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<hr id="header-ruler" />
		</div>
	</div>
	<!-- End Nav -->
