	<!-- Main Content -->
	<div class="row">

		<% if (count > 0) { %>
		<div class="small-12 columns">
			<div class="row">
				<div class="small-8 large-4 columns">
					<br>
					<p><img src="https://www.projectaon.org/en/xhtml/lw/01fftd/small15.png" alt=""></p>
				</div>
				<div class="small-9 large-8 columns">
					<div class="panel">
						<h2>Continue an adventure</h2>
						<p>Select a player and continue playing.</p>
						<a href="/#selectplayer" class="radius button">Select player</a>
					</div>
				</div>
			</div>
		</div>

		<br>
		<br>
		<% } %>
	
		<div class="small-12 columns">
			<div class="row">
				<div class="small-8 large-4 columns">
					<br>
					<p><img src="https://www.projectaon.org/en/xhtml/lw/02fotw/small5.png" alt="" id="newgame-icon"></p>
				</div>
				<div class="small-9 large-8 columns" id="newgame-copy">
					<div class="panel">
						<h2>Start a new game</h2>
						<p>Create a new player and select an adventure to start playing.</p>
						<a id="new-player" href="/#newplayer" class="radius button">New player</a>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<!-- End Main Content -->
