	<!-- Main Content -->
	<div class="row">

		<div class="small-12 columns">
			<h2>Browser or device not supported</h2>
			<div class="row">
				<div class="small-12 columns" id="notsupported-copy">
					<p>Sorry, but this app requires HTML5 applicationCache and localStorage, and your browser or device does not have one or both of these features.</p>
					<p><a href="http://google.com/chrome/" class="radius button right">Try Chrome</a></p>
				</div>
			</div>
		</div>
	
	</div>
	<!-- End Main Content -->
