<div class="grid-container series-{{series?.id}}">
  <title-header [series]=this.series [title]=this.title class="grid-x grid-padding-x pa-header"></title-header>

  <game-menu selected="story"></game-menu>

  <div class="grid-x grid-padding-x">
    <div class="medium-10 medium-offset-1 cell">
      <div class="float-right">
        <input type="button" class="button" value="Previous" (click)="prev()" *ngIf="displayPrev"/>
        <input type="button" class="button" value="Next" (click)="next()" *ngIf="displayNext"/>
      </div>
      <div [innerHTML]="pageMarkedUpContent"></div>
      <div [style.display]="this.choices.length ? '' : 'none'">
        <p *ngFor="let choice of this.choices" (click)="makeChoice(choice.sectionNr)"><a><i class="fi-arrow-right"></i> {{choice.text}}</a></p>
      </div>
    </div>
  </div>
</div>
