<div class="game-menu large-12 cell">
  <div class="callout">
    <ul class="menu">
      <li [class.is-active]="isActiveMenuItem('story')" (click)="activateMenuItem('story')"><a>Story</a></li>
      <li [class.is-active]="isActiveMenuItem('action-chart')" (click)="activateMenuItem('action-chart')"><a>Action Chart</a></li>
      <li [class.is-active]="isActiveMenuItem('random-number')" (click)="activateMenuItem('random-number')"><a>Random Number</a></li>
      <li [class.is-active]="isActiveMenuItem('combat')" (click)="activateMenuItem('combat')"><a>Combat</a></li>
      <li [class.is-active]="isActiveMenuItem('map')" (click)="activateMenuItem('map')"><a>Map</a></li>
      <li [class.is-active]="isActiveMenuItem('save-game')" (click)="activateMenuItem('save-game')"><a>Save Game</a></li>
    </ul>
  </div>
</div>
